#  Application 
APP_ENV=production
APP_NAME=app_name
DEBUG=false

#  Database 
MYSQL_ROOT_PASSWORD=mysql_root_password
MYSQL_DATABASE=mysql_database_name
MYSQL_USER=mysql_user
MYSQL_PASSWORD=mysql_password
DATABASE_URL=database_url

#  JWT 
JWT_SECRET_KEY=super-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

#  Cloudinary 
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

#  Mail (SMTP) 
MAIL_USERNAME=email@gmail.com
MAIL_PASSWORD=app_password
MAIL_FROM=email@gmail.com
MAIL_FROM_NAME=mail_name
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=true
MAIL_SSL_TLS=false